@{
    Layout = null;
}
@using PagedList.Mvc
@using Web.Models
@using Web.Models.CourseraEntity
@model PagedList.IPagedList<Web.Models.IMaterial>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href=@Url.Content("~/Assets/css/bootstrap.css") rel="stylesheet">
    <link href=@Url.Content("~/Assets/css/bootstrap-theme.css") rel="stylesheet">

    <link href=@Url.Content("~/Assets/css/navbar-custom.css") rel="stylesheet">
    <link href=@Url.Content("~/Assets/css/main.css") rel="stylesheet">
    <link href=@Url.Content("~/Assets/css/font-awesome.css") rel="stylesheet">
    <link href=@Url.Content("~/Assets/css/login.css") rel="stylesheet">
    <link href=@Url.Content("~/Assets/css/footer.css") rel="stylesheet">
    <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
    <script type="text/javascript" src=@Url.Content("~/Assets/js/jquery-2.1.1.min.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Assets/js/jquery-ui-1.10.4.min.js")></script>
    <script src=@Url.Content("~/Assets/js/bootstrap.js")></script>



</head>
<body>
    <div class="main">
        <div class="navbar navbar-custom">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" title="Project_S">
                    <img style="max-width:100px; margin-top: -10px;"
                         src=@Url.Content("~/Assets/css/images/logo.jpg")>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Project_S</a>
            </div>
        </div>

        <div class="container">
            
                <div id="side-nav" class="col-sm-2 hidden-xs hidden-sm hidden-print">
                    <ul class="nav nav-pills nav-stacked">
                        <li>@Html.ActionLink("My lectures", "Index", "Home")
                        <li>@Html.ActionLink("My profile", "Profile", "Profile")</li>
                        <li><a href="#groups">My groups</a></li>
                        <li><a href="#messages">My messages</a></li>
                        <li><a href="#raiting">My raiting</a></li>
                        <li><a href="#resume">My resume</a></li>
                    </ul>
                </div>
                

            <div class="mainfeed">
                <div class="row">
                    @{
                        foreach (IMaterial course in @Model)
                        {

                            <div class="col-md-4 thumbnail" data-type="@course.Type.ToString("G")" data-video-id="@course.VideoId">
                                <div class="item-video-wrap">
                                    <h3>@course.Name</h3>
                                    <div class="video-stop-cadr">
                                        <img src=@course.LargeIcon alt="" />
                                    </div>
                                    <div class="caption">
                                        <p>@course.Description</p>
                                    </div>

                                </div>
                            </div>
                        }
                    }
                    @{/*
                            foreach (CourseraMaterial course in @Model)
                            {
                                <div class="article">
                                    <h2><span>@course.Name</span></h2>
                                    <div class="clr"></div>
                                    <p class="post-data"><span class="date">March 16, 2018</span> &nbsp;|&nbsp; Posted by <a href="#">Owner</a> &nbsp;|&nbsp; Filed under <a href="#">templates</a>, <a href="#">internet</a></p>

                                    <img src=@course.LargeIcon width="613" height="193" alt="" />
                                    <p>@course.Description</p>

                                    <p class="spec"><a href="#" class="com fr">Comments (3)</a> <a href="#" class="rm fl">Read more</a></p>
                                    <div class="clr"></div>
                                </div>
                            }*/
                    }
                </div>
            </div>

        </div>

    </div>
    <script>
        (function youtube() {
            var player;
            window.startYoutube = function(id) {
                player = new YT.Player('player', {
                    height: '390',
                    width: '640',
                    videoId: id,
                    events: {
                        'onReady': onPlayerReady,
                        'onStateChange': onPlayerStateChange
                    }
                });
            }

            function onPlayerReady(event) {
                event.target.playVideo();
            }

            function onPlayerStateChange(event) {
            }

            function stopVideo() {
                player.stopVideo();
            }

/*********************************************************************/
            $('.thumbnail[data-type="Youtube"]').click(function () {
                var videoId = $(this).data('videoId');
                var mask = $('<a/>', { href: 'javascript:{}' });
                mask.addClass('mask');
                $('body').append(mask);
                var player = $('<div/>', { id: 'player' });
                $('body').append(player);

                window.startYoutube(videoId);

                function closeWindow() {
                    if (confirm("Close?")) {
                        this.remove();
                        $('#player').remove();
                    }
                }

                mask.click(closeWindow);
            });
        })();
    </script>
</body>
</html>
