@using System.Resources
<div class="main">
    <div class="container">
        <div class="omb_login">
            <h3 class="omb_authTitle">Registration</h3>

            <div class="row omb_row-sm-offset-3">
                <div class="col-xs-12 col-sm-6">
                    <form class="omb_loginForm" action="" autocomplete="off" method="POST">
                        @model Web.Models.RegisterViewModel
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary()
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "User name" })
                                <!--<input type="text" class="form-control" name="username" placeholder="User name" />-->
                            </div>
                            <span class="help-block"></span>

                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                <!--<input type="password" class="form-control" name="password" placeholder="Password" />-->
                            </div>
                            <span class="help-block"></span>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password" })
                                <!--<input type="password" class="form-control" name="confirmpassword" placeholder="Confirm password" />-->
                            </div>
                            <span class="help-block">Password error</span>

                            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                            <div class="clear"></div>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>